<h1>Friends advice: il faut toujours écouter ses amis.</h1>

<h2>Chercher des conseils pour une destination</h2>
<%= simple_form_for(:search, on: :collection, url: search_destinations_path, method: :get) do |f| %>
  <%= f.input :query, label: false %>
  <%= f.button :submit, "Chercher" %>
<% end %>
<h2>Mes destinations</h2>
<% @destinations.each do |destination| %>
<%=link_to "#{destination.name}", destination_path(destination.id) %>
<% end %>
<h4>Créer une nouvelle destination</h4>
<%= link_to "Créer", new_destination_path %>

